// CONSTANTS MAP
$CONTENT_MAX_WIDTH: 1366px;

$BG_COLOR: #e5e5e5;
$WRAPPER_BG_COLOR: #FFFFFF;
$MAIN_COLOR: #00558c;
$HOVER_BG: #cecece;

$BORDER_W: 2px;
/* INCLUDE CSS SUB  TEMPLATE  */
@import "reset";
@import "mixins";
@import "mobile";

@font-face {
  	font-family: 'fontello';
	src: url('../font/fontello.eot?37481707');
	src: url('../font/fontello.eot?37481707#iefix') format('embedded-opentype'),
	   url('../font/fontello.woff?37481707') format('woff'),
	   url('../font/fontello.ttf?37481707') format('truetype'),
	   url('../font/fontello.svg?37481707#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

html{
	font-size: 100%;
}

body{
	font-family: 'Raleway', sans-serif;
	background-color: $BG_COLOR;
	color: $MAIN_COLOR;
}

a{
	color: $MAIN_COLOR;
	text-decoration: none;
	transition: all .3s;
}

a:hover, .selectedMenu{
	color: #FFFFFF;
	background-color: $HOVER_BG;
}

.txt-r{
	text-align: right;
}

.mt30{
	margin-top: 30px;
}

.wrapper{
	width: 100%;
	height: 100%;
	max-width: 1920px;
	max-height: 1080px;
	background-color: $WRAPPER_BG_COLOR;
	overflow: hidden;
	margin: 0 auto;
}

.sidebar{
	float: left;
	width: 25%;
	height: 100%;
	background-image: url(../images/menu-bg.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: contain;
	@include box-sizing(border-box);
	border-right: $BORDER_W solid $MAIN_COLOR;

	header, footer{
		width: 100%;
		height: 15%;
		@include box-sizing(border-box);
	}

	header{
		background-color: #FFFFFF;
		border-bottom: $BORDER_W solid $MAIN_COLOR;
		position: relative;
		a.logo{
			background-image: url(../images/logo_romec.svg);
			background-repeat: no-repeat;
			background-position: center center;
    		background-size: 90%;
			display:block;
			height: 100%;
			width: 100%;
		}

		a.logo:hover{
			background-color: transparent;
		}
	}

	footer{
		height: 3%;
		p{
			text-align: center;
			padding: 5px;
			font-size: .7rem;
		}
	}

	.lang-container{
		width: 100%;
		height: 5%;
		overflow: hidden;
		@include box-sizing(border-box);
		@include flexbox();
		@include flex-position(center, space-around);
		background-color: #fdfdfd;
		padding: 5px 0px;

		.flag{
			height: 100%;
			padding: 5px;
			text-align: center;
			img{
				height: 100%;
/* 				opacity: .7; */
			}
/*
			img:hover{
				opacity: 1;
			} */
		}

		.selected{
			border-bottom: 2px solid $MAIN_COLOR;
		}
	}

	.menu-container{
		width: 100%;
		height: 77%;
		@include box-sizing(border-box);
		@include flexbox();
		@include flex-position(center, center);

		ul{
			width: 100%;

			li{
				width: 100%;
				height: 13%;
				text-transform: uppercase;

				a{
					display: block;
					height: 100%;
					width: 100%;
					@include flexbox();
  					@include flex-position(center, flex-start);
	  				p{
	  					padding-left: 50px;
	  					font-size: 1.5rem;
	  				}
				}

			}
		}
	}
}

.content{
	float: left;
	width: 75%;
	height: 100%;
	overflow: auto;

	p{
		padding: 10px;
		line-height: 1.3rem;

		span{
			font-weight: bold;
		}
	}

	h2{
		font-size: 1.5rem;
		padding: 5px 10px;
		margin-bottom: 30px;
		border-bottom: $BORDER_W solid $MAIN_COLOR;
	}

	.container-half{
		position: relative;
		width: 100%;
		height: auto;
		@include box-sizing(border-box);
		padding: 30px;
		background-size: contain;
	  background-repeat: no-repeat;
	  background-position: left center;

		p{
			padding: 10px;
			font-size: 1.2rem;
			line-height: 1.5rem;
			margin-bottom: 20px;
			span{
				font-weight: bold;
			}
		}

		h2{
			font-size: 1.5rem;
			padding: 5px 10px;
			padding-top: 0px;
			border-bottom: $BORDER_W solid $MAIN_COLOR;
		}

		.full-img{
			max-width: 100%;
			max-height: 100%;
			border: 2px solid #00558c;
		}

		.vert-half{
			width: 50%;
			float: left;
			overflow: hidden;
		}

		.vert-third{
			width: 33.333333%;
			float: left;
			overflow: hidden;
		}

		.vert-half.img-list, .vert-third.img-list{
    		box-sizing: border-box;
			//margin: 10px 0px;
			padding: 10px;
		}
	}



	.container-half.b-bottom{
		border-bottom: $BORDER_W solid $MAIN_COLOR;
		background-color: #00558c;
		height: 50%;
	}

	.container-half.contact-mobile{
		height: 50%;
		background-color: #FFFFFF;
		padding: 20px;
		h2{
			padding: 0px;
			padding-bottom: 5px;
			margin-bottom: 0px;
		}
	}

	.container-half.no-pad{
		padding: 0;
	}

	.clear-divs{
		clear: both;
	}

	.footer{
		width: 100%;
		height: 40px;
		background-color: $MAIN_COLOR;
		@include box-sizing(border-box);
		@include flexbox();
		@include flex-position(center, center);
		p{
			padding: 0px;
			text-align: center;
			font-size: .8rem;
			line-height: 1.1rem;
			color: #FFFFFF;
		}
	}
}

.chisiamo-header{
	background-image:url('../images/slide_3.jpg');
}

.costruzione-header{
	background-image:url('../images/slide_4.jpg');
}

.stampi-header{
	background-image:url('../images/slide_5.jpg');
}

/* HOME PAGE */
.hp-content{
	width: 100%;
	background-color: $MAIN_COLOR;
	@include flexbox();
  	@include flex-position(center, center);

  	img{
  		width: 100%;
  	}
}
/* END HOME PAGE */

/* CONTACT */
.map-wrap{
	float: left;
	width: 65%;
	height: 100%;
}

.info-wrap{
	float: left;
	width: 35%;
	height: 100%;
	@include box-sizing(border-box);
	padding-top: 20px;
	padding-left: 20px;
	p.info{
		line-height: 2rem;
		padding-left: 0px;
		font-size: 1.3rem;
		margin-bottom: 0px;
		span{
			font-size: 1.5rem;
		}
		a{
			color: white;
			background-color: #00558c;
			border-radius: 5px;
			padding: 2px 4px;
		}
	}
}

/* form */
.form-contatti{
	float: left;
	width: 65%;
	height: 100%;

	h2.form-title{
		font-size: 1.5rem;
		padding: 0px;
		padding-bottom: 5px;
		border-bottom: $BORDER_W solid $MAIN_COLOR;
	}

	div{
		float: left;
		width: 50%;
		height: 100%;

	}

	label{
		display: block;
		width:20%;
		margin-top: 10px;
		font-size: 1.4rem;
		span{
			color: red;
		}
	}

	input{
		height: 30px;
		margin: 10px 0px;
		font-size: 1.3rem;
		font-weight: 700;
		font-family: 'Raleway', sans-serif;
		border: solid 1px #135058;
	}

	input[type="text"] {
		width:100%;
		padding: 10px;
		border: none;
		border-bottom: solid 2px #135058;
		transition: border 0.3s;
		outline: none;
		border: solid 1px #135058;
	}

	textarea{
		width: 100%;
		height: 147px;
		margin-top: 10px;
		border: solid 1px #135058;
		font-size: 1.3rem;
		padding: 5px;
		font-family: 'Raleway', sans-serif;
	}

	input[type="submit"] {
		width: 100%;
		cursor: pointer;
		color: white;
		background-color: $MAIN_COLOR;
		border: none;
		margin-top: 15px;
	}
}

.form-sidebar{
	float: left;
	width: 35%;
	height: 100%;

	h2{
		font-size: 1.5rem;
		padding-bottom: 5px;
		border-bottom: $BORDER_W solid $MAIN_COLOR;
		width: 95%;
	}

	p.info{
		padding: 10px 0px;
		font-size: 1.3rem;
		line-height: 1.6rem;
		margin-bottom: 0px;
		span{
			font-size: 1.3rem;
			font-weight: bold;
		}
		a{
			//color: white;
			//background-color: #00558c;
			border-radius: 5px;
			padding: 2px 0px;
		}
	}
}

.modal-bg{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #135058;
	@include opacity(0.8);
}

.modal{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -300px;
	height: 300px;
	width: 600px;
	background-color: white;
	z-index: 999;
	color: black;
	@include borderR(5px);
	@include flexbox();
  	@include flex-position(center, center);

	h2{
		color: red;
	}

	li{
		font-size: 1.5rem;
		line-height: 2rem;
	}

  	.btn-close{
  		position: absolute;
		top: -5px;
		right: -5px;
		height: 30px;
		width: 30px;
		font-size: 1rem;
		font-weight: 700;
		cursor: pointer;
		@include borderR(5px);
		@include flexbox();
  		@include flex-position(center, center);
  		background-color: $MAIN_COLOR;
  	}
}

/* END CONTACT */

/* SLIDER */
.slider-wrap{
	height: 100%;
	width: 100%;

	.slide-single{
		height: 100%;
		width: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		/* img{
			height: 100%;
			width: auto;
		} */
	}
}

.slick-list{
	width:100%;
	float: left;
}

.slick-arrow{
		position: absolute;
		top: 0%;
		z-index: 9999;
		float: left;
		font-size: 0;
	    line-height: 0;
	    display: block;
	    width: 10%;
	    height: 100%;
	    padding: 0;
	    cursor: pointer;
	    color: transparent;
	    border: none;
	    outline: none;
	    background-color: transparent;
	    background-size: 30%;
	}

	.slick-arrow:hover{
		//@include opacity(.75);
		//background-color: $MAIN_COLOR;
	}

	.slick-prev{
		left: 0px;
		background-image: url(../images/frecciaSx.png);
	    background-position: center center;
	    background-repeat: no-repeat;
	}

	.slick-next{
		right: 0px;
		background-image: url(../images/frecciaDx.png);
	    background-position: center center;
	    background-repeat: no-repeat;
	}

	.slick-dots{
		position: absolute;
		bottom: 10px;
		width: 100%;
		@include flexbox();
  		@include flex-position(center, center);
  		li{
  			margin: 0 10px;

  			button{
  				font-size: 0;
			    line-height: 0;
			    display: block;
			    width: 20px;
			    height: 20px;
			    padding: 5px;
			    cursor: pointer;
			    color: transparent;
			    border: 0;
			    outline: none;
			    @include opacity(.75);
			    background-color: black;
			    border-radius: 20px;
  			}

  		}
  		li.slick-active button{
			@include opacity(1);
			background-color: #9d9d9d;
  		}
	}
/* SLIDER END */


/* FONT ICONS */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  color: white;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-th-large:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
/* END FONT ICONS */
@import "mediaQ";
